/* FONDO SERPIENTES */
body{
    background-image: url("../imagenes/fondo_serpientes.png");
    background-repeat: repeat-y;
    background-size: 100%;
}
/* LOGO */
.logo{
    text-align: center;
    margin: 5px 0 5px 0;
}
.logoAR1{
    width: 25vw;
    height: auto;
}
/* NAV */
.navbar {
    padding:0% !important;
    justify-content: center !important;
    background-image:linear-gradient(to right, rgba(255,0,0,0),rgb(255, 255, 255),rgb(255, 255, 255),rgb(255, 255, 255),rgb(255, 255, 255),rgb(255, 255, 255), rgb(255, 255, 255),rgb(255, 255, 255),rgb(255, 255, 255),rgb(255, 255, 255),rgba(255,0,0,0));;
    color: rgb(0, 0, 0);
    border-bottom: solid 2px;
    border-image: linear-gradient(to right, rgba(255,0,0,0), rgb(0, 0, 0),rgb(0, 0, 0),rgba(255,0,0,0)) 1;
}

.navbar-links {
    height: 100%;
    color: #000000;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    font-family:'Vogue';
    letter-spacing: 0.8vw;
    font-size: 1.2vw;
    display: block;
    text-decoration: none;
    color: rgb(31, 31, 31);
    padding: 1rem;
}

.navbar-links a:hover {
    color: rgb(116, 116, 116);
}

.toggle-button {
    position: absolute;
    left: 20rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 20px;
    height: 17px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}
/* IMAGEN PRIMERA COLECCION */
.linea1{
    margin-top: 15px;
}
.col-imagen{
    padding: 0%;
}
.imagen1-coleccion{
    width: 100%;
    height: auto;
}
/* NOMBRE COLECCION */
.colec-link1{
    color: #272727;
    text-decoration: none;
}
.colec-link1:hover{
    color: #747474;
    text-decoration: none;
}
.nombrecolec1{
    font-family: 'Vogue';
    font-size: 1.5vw;
    letter-spacing: 0.2em;
}